

#form_connect{
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right : auto;
	justify-content: center;
}
#form_connect input{
	margin:3% 0% 3% 0%;
	border-radius: 10px ;
	height: 30px;
	width: 150px;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;

}

#form_connect button{
	height: 25px;
	font-size: 1.05em;
}

#create_account{
	text-decoration: none;
	color:grey;

}
#img_log{
	width:50px;
	margin-left: auto;
	margin-right: auto;
}
#content img, #content h4{
	text-align: center;
}
#content a{
	text-align: center;
}
